################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/testa03f2092/FileContentIndex
/.vs/slnx.sqlite
/.vs/testa03f2092/v17/.suo
/.vs/VSWorkspaceState.json
/.vs/testa03f2092/v17/.wsuo
